.a-color-scheme-default{
	background-color: rgb(255, 255, 255);
	text-decoration-line: underline blue;
	border: solid 1.5px blue;
}
.a-color-scheme-default:focus, .a-color-scheme-default:hover{
	background-color: rgb(0,0,87);
	color: rgb(251,251,251);
	text-decoration: underline rgb(252, 252, 88);
	border: solid 1.5px rgb(209,0,129);
	cursor: pointer;
}
.a-color-scheme-highContrast{
	border: solid 2px rgba(0,0,0,0);
	text-decoration: underline rgb(75, 250, 75) double;
}
.a-color-scheme-highContrast:focus, .a-color-scheme-highContrast:hover{
	background-color: rgb(251,251,251);
	color: rgb(3,3,3);
	text-decoration: underline rgb(20,20,255) double;	
	border: solid 2px rgb(255,179,223);
	cursor: pointer;
}
.bottom-0{
	bottom: 0.25em;
}
.color-inherit{
	color: inherit;
}
.font-catamaran{
    font-family: "catamaran", sans-serif;
}
.padding-left-p1em{
	padding-left: .1em;
}
.padding-right-p1em{
	padding-right: .1em;
}
.position-absolute{
	position: absolute;
}
.right-p15em{
	right: 0.15em;
}