.bg-color-222-239-247{
	background-color: rgb(222, 239, 247);
}
.border-top-p75em-double-10-33-47{
	border-top:  .5em double rgb(10, 33, 47);
}
.bottom-0{
	bottom: 0;
}
.color-10-33-47{
	color: rgb(10,33,47);
}
.font-catamaran{
	font-family: "catamaran", sans-serif;
}
.height-2p5em{
	height: 2.5em;
}
.position-fixed{
	position: fixed;
}
.width-100pc{
	width: 100%;
  }

