@font-face {
  font-family: alef;
  src: url("./assets/fonts/alef.ttf");
  font-weight: 400;
}
@font-face {
  font-family: alef;
  src: url("./assets/fonts/alef-bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: catamaran;
  src: url("./assets/fonts/catamaran-medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: catamaran;
  src: url("./assets/fonts/catamaran-bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: caveatbrush;
  src: url("./assets/fonts/caveatbrush.ttf");
}
h1{
  color: rgb(73, 59, 12);
  font-family:"alef", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}
.align-items-stretch{
  align-items: stretch;
}
.background-paper{
  background-image: url("./assets/images/paper.png");
  background-color: #cccccc;
}
.bg-color-255-239-183-p35{
  background-color: rgba(255, 239, 183, 0.35)
}
.bg-color-222-239-247{
  background-color: rgb(222, 239, 247);
}
.border-bottom-p75em-double-10-33-47{
  border-bottom:  .75em double rgb(10, 33, 47);
}
.border-radius-4px{
  border-radius: 4px;
}
.border-solid-1px-18-49-67{
  border: solid 1px rgb(18,49,67);
}
.border-top-p75em-double-10-33-47{
  border-top:  .5em double rgb(10, 33, 47);
}
.bottom-0{
  bottom: 0;
}
.color-10-33-47{
  color: rgb(10,33,47);
}
.display-block{
  display: block;
}
.display-flex{
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.display-inline-block{
  display: inline-block;
}
.flex-direction-row{
  flex-direction: row;
}
.font-catamaran{
  font-family: "catamaran", sans-serif;
}
.font-caveatbrush{
  font-family: "caveatbrush", cursive;
}
.font-size-p5em{
  font-size: 0.5em;
}
.font-weight-500{
  font-weight: 500;
}
.height-100pc{
  height: 100%;
}
.height-2p5em{
  height: 2.5em;
}
.min-height-100pc{
  min-height: 100%;
}
.height-100vh-calc2p5em{
  height: calc(100vh - 2.5em);
}
.overflow-y-scroll{
  overflow-y: auto;
}
.padding-bottom-p5em{
  padding-bottom: .5em;
}
.padding-bottom-p75em{
  padding-bottom: .75em;
}
.padding-left-p5em{
  padding-left: .5em;
}
.padding-left-p75em{
  padding-left: .75em;
}
.padding-right-p5em{
  padding-right: .5em;
}
.padding-right-p75em{
  padding-right: .75em;
}
.padding-top-p5em{
  padding-top: .5em;
}
.padding-top-p75em{
  padding-top: .75em;
}
.position-fixed{
  position: fixed;
}
.text-center{
  text-align: center;
}
.width-2pc{
  width: 2%;
}
.width-50pc{
  width: 50%;
}
.width-100pc{
  width: 100%;
}
